@media screen and (max-width: 1400px) { 
.col-md-12.programm_block {
padding: 3rem;
padding-bottom: 0;
}
}
@media screen and (max-width: 1024px) { 
.eight_img {
display: block;
max-height: 20rem;
width: 60%;
margin: auto;
}

.vk_block_review {

    padding-bottom: 0;
}

.twelve_portrait {
    max-height: 30.875rem;
}


.ordinary.block_program {
    margin-right: 1.5rem;
   
}


.sixteen_main_text_smaller.magnet_train {
    font-size: 3rem;
    line-height: 3.5;
}

.favor{
display: none;
}
.seven_main_text.upper_text {
    margin-bottom: 4rem;
}
.six_couch {
    margin-top: 4.4375rem;
    margin-bottom: 1.9375rem;
}

.col-md-7.second_block2{
padding-left: 1.5rem;
padding-right: 1.5rem;
}


.grey_bg {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 63%;
    background-position: top left;
}


.second_quest_block{
padding-left: 1rem;
padding-right: 1rem;
box-sizing: border-box;
}
.setups_because1 {
    margin-bottom: 2rem;
    width: 77%;
}
.ten_img {
display: block;
max-height: 18.875rem;
margin:auto;
}
.twenty_one_img{
max-width: 24rem;
}
.twenty_one_img.magn_image{
max-width: 80%;
}
.seventeen_info {
font-size: 1.6rem;
width: 80%;
margin: auto;
margin-bottom: 2rem;
}
.second_portrait{
position: absolute;
bottom: 0;
max-width: 25.8125rem;
max-height: 38.125rem;
}
/*.twelve_portrait {
max-height: 26.875rem;
max-width: 30.75rem;
}*/
.twelve_main_text {
font-size: 1.4rem;
margin-bottom: 2rem;
margin-top: 2rem;
margin-left: 0;
margin-right: 0;
}
.twelve_main_text_bigger {
font-size: 1.7rem;
margin-left: 0;
}
/*.four_portrait {
position: absolute;
top: 1rem;
right: 3.75rem;
max-height: 22rem;
max-width: 26rem;
}*/
.second_main_text.first {
max-width: 100%;
}
.fourteen_main_text.list.last {
margin-bottom: 3rem;
}
.eleven_screen,.twenty_screen {
padding-top: 3rem;
padding-bottom: 3rem;
}
.bottom_image_container{
height: 100%;
flex-wrap: wrap;
}
.second_main_text {
font-size: 1.5rem;
margin-bottom: 2.1rem;
}
.col-md-12.programm_block {
padding: 2.8rem;
padding-bottom: 0;
}
.twenty_three_screen {
padding-top: 3rem;
padding-bottom: 3rem;
}
.eight_main_text.bigger {
margin-bottom: 3rem;
}
.main_screen{
max-height: 100%;
height: auto;
}
.seven_hypnose {
font-size: 4rem;
font-family: 'PT Sans Narrow', sans-serif;
padding-bottom: 0;
padding-top: 1rem;
}
/*.eighteen_portrait {
right: -14rem;
}*/
.important_couch {
padding: 1.3rem;
max-width: 100%;
margin: auto;
margin-bottom: 2rem;
}
.twenty_four_screen {
padding-top: 3rem;
padding-bottom: 3rem;
}
.twenty_three_title {
font-size: 4.1rem;
line-height: 1.2;
padding-bottom: 0;
}
.border_block {
background-image: none;
}
.nineteen_screen_title {
font-size: 3rem;
margin-bottom: 2.2rem;
width: 80%;
}
.twenty_four_title {
font-size: 3.5rem;
margin-bottom: 2.2rem;
margin-top: 0;
}
.twenty_four_screen {
padding-top: 3rem;
padding-bottom: 3rem;
}
.twenty_five_text1 {
font-size: 2.5rem;
margin-bottom: 3rem;
}
.twenty_five_text2 {
font-size: 2.5rem;
margin-top: 2.5rem;
margin-bottom: 2.5rem;
max-width: 85%;
}
.twenty_five_text3 {
font-size: 1.9rem;
margin-bottom: 3rem;
}
.twenty_five_screen {
padding-bottom: 3rem;
padding-top: 3rem;
}
.twenty_five_text4 {
margin-bottom: 3rem;
font-size: 4rem;
line-height: 4rem;
}
.subtitle {
font-size: 2.5rem;
line-height: 1.2;
}
.program_text {
margin-bottom: 1.5rem;
}
.ordinary_title,
.vip_title  {
padding: 1.5rem 1.3rem;
font-size: 2.5rem;
margin-bottom: 1.3rem;
}
.tarif_content{
padding-left: 1.3rem;
padding-right: 1.3rem;
}
.twenty_three_title {
font-size: 3rem;
line-height: 1.2;
padding-bottom: 2rem;
margin-bottom: 1rem;
margin-top: 1rem;
}
.thirteen_screen {
padding-top: 3rem;
padding-bottom: 3rem;
}
.thirteen_main_text_bigger {
font-size: 1.9rem;
margin-bottom: 2rem;
}
.advant_icon {
height: 3rem;
width: 3rem;
margin-right: 0.6rem;
}
.eighteen_main_text.for_all {
font-size: 3rem;
margin-bottom: 0;
}
.nineteen_screen {
padding-top: 3rem;
padding-bottom: 3rem;
}
.eighteen_main_text.upper_text {
font-size: 3rem;
line-height: 1.2;
}
.eighteen_main_text {
font-size: 1.3rem;
margin-bottom: 2.5rem;
}
.main_description {
font-size: 1.3rem;
line-height: 1.4;
max-width: 19rem;
margin-top: 1.6rem;
padding: 0.5rem;
box-sizing: border-box;
}
.main_portrait {
position: absolute;
display: block;
padding-top: 3.6875rem;
height: 90%;
box-sizing: border-box;
z-index: 2;
}
.main_course {
margin-top: 1.6rem;
}
.main_slogan {
font-size: 1.8rem;
line-height: 1.8;
}
.second_screen {
padding-top: 3rem;
padding-bottom: 3rem;
}
.second_main_text_bigger {
font-size: 3rem;
margin-bottom: 3.5rem;
}
.second_portrait_question {
display: block;
margin: auto;
margin-top: 2rem;
height: 8rem;
}
/*.third_portrait {
max-width: 75%;
opacity: 1;
left: -15.5%;
}*/
.third_main_text_bigger {
font-size: 2rem;
margin-bottom: 1rem;
}
.third_main_text {
font-size: 1.45rem;
font-family: 'PT Sans Narrow', sans-serif;
color: rgb( 255, 255, 255 );
line-height: 1.417;
margin-bottom: 2rem;
}
h2.third_stop {
text-align: center;
font-size: 4.5rem;
margin-bottom: 3rem;
line-height: 1;
}
.four_main_text {
font-size: 1.3rem;
margin-bottom: 2rem;
}
.five_clients_leave {
font-size: 1.8rem;
margin-top: 4rem;
margin-bottom: 4rem;
width: 90%;
}
.five_clients_result {
font-size: 2.5rem;
margin-bottom: 4rem;
width: 90%;
}
/*.gallery_image_block {
min-height: 27.5rem;
}*/
a.gallery.fifteen_img.img-responsive>img{
height: 5rem;
width: 90%;
margin:auto;
display: block;
margin-bottom: 1rem;
}
.vk_block_review {
padding-bottom: 4rem;
}
.problem_resourse {
font-size: 4rem;
margin-bottom: 3.5rem;
}
.nine_text {
font-size: 2.5rem;
}
.ten_main_title {
font-size: 4rem;
margin-bottom: 3rem;
}
.ten_main_text {
font-size: 1.4rem;
padding-bottom: 2rem;
}
.ten_screen {
padding-top: 3rem;
padding-bottom: 3rem;
}
.eleven_title {
font-size: 4rem;
margin-bottom: 2.5rem;
}
.eleven_img {
display: block;
max-height: 22rem;
padding-top: 3rem;
}
.fourteen_main_text_bigger {
font-size: 3rem;
margin-bottom: 1.5rem;
}
.fifteen_main_title {
font-size: 3rem;
margin-bottom: 3rem;
}
.fifteen_main_text {
font-size: 1.3rem;
margin-bottom: 1.7rem;
}
.sixteen_screen {
padding-top: 3rem;
padding-bottom: 3rem;
}
.sixteen_main_text_extra {
font-size: 6rem;
margin-left: 0;
}
.sixteen_main_text_bigger {
font-size: 3rem;
margin-bottom: 2.5rem;
}
.sixteen_main_text_smaller {
font-size: 3rem;
margin-left: 0;
padding-left: 0rem;
}
.date_block {
font-size: 4rem;
height: 12.8125rem;
}
.date_block span {
font-size: 4rem;
}
.seventeen_screen {
padding-bottom: 4rem;
padding-top: 3rem;
}
.seventeen_speciality {
font-size: 6.5rem;
}
.setups_because2 {
font-size: 1.5rem;
margin-bottom: 4rem;
}
.setups_text {
font-size: 5.5rem;
line-height: 1.1;
margin-bottom: 3rem;
}
.setups_text.red {
font-size: 6.5rem;
margin-bottom: 3rem;
}
.setups_gives {
font-size: 2.5rem;
width: 95%;
margin-bottom: 2rem;
}
.vk_review_title span {
display: block;
}
.vk_review {
line-height: 1.5;
margin-bottom: 2rem;
}
.social_posts {
max-width: 22rem;
height: auto;
width: 90%;
margin: auto;
display: block;
margin-bottom: 2rem;
margin-top: 2rem;
}
.button_send {
width: 21rem;
height: 4.8125rem;
line-height: 3.8125rem;
font-size: 1.5rem;
}
.write_me {
margin-right: 1rem;
margin-left: 1rem;
font-size: 1.2rem;
line-height: 1.3rem;
}
.six_couch {
font-size: 4.5rem;
}
.vk_block_review.small_block {
width: 100%;
}
.fourteen_img {
left: -14rem;
}
/*.seven_portrait {
left: -27.3%;
}*/
/*.six_portrait.img-responsive{
right: 0;
max-height: 39.6875rem;
max-width: 20.625rem;
}*/
.seven_hypnose {
font-size: 4.5rem;
padding-top: 0;
width: 100vw;
}
.four_screen {
padding-top: 3rem;
}
.four_main_text.bigger {
font-size: 3rem;
line-height: 1.085;
margin-bottom: 1.8rem;
}
.four_main_text.border {
padding: 0.8rem;
font-size: 1.5rem;
line-height: 1.6;
margin-bottom: 2.9rem;
margin-left: 0;
margin-right: 0;
max-width: 100%;
}
.eight_main_text.bolder {
font-size: 2.4rem;
margin-bottom: 2rem;
}
.sixteen_screen_half_bg{
padding-top: 2.5rem;
padding-bottom: 2.5rem;
padding-left: 1rem;
padding-right: 1rem;
margin-right: 0;
margin-left: 0;
}
.twenty_one_title {
font-size: 3rem;
line-height: 1.1;
margin-top: 0;
margin-bottom: 3.5rem;
padding-left: 1rem;
}
.twenty_one_mesm,
.twenty_one_fas,
.twenty_one_magn
{
min-height: auto;
padding-top: 2.5rem;
padding-bottom: 2.5rem;
}
.desktops_breaks{
display: none;
}

.setups_wonder {
    font-size: 1.5rem;     
    line-height: 2rem;
    margin-bottom: 3rem;
    
}

}
@media screen and (max-width: 1024px) and (orientation: portrait) {
.sixteen_screen {
background-image: url('../img/fifteen_bg.jpg');
background-repeat: no-repeat;
background-size: 100% 50%;
background-position: top center;
padding-top: 3rem;
padding-bottom: 3rem;
}

.four_main_text.border {
    max-width: 70%;
}

.four_portrait {
top: 0;
}

.col-md-12.second_quest_block {
padding-bottom: 1.4rem;
}



.twenty_one_img.fas_img {
    max-height: 20rem;
     height: 100%;
    float: none;
}


.twenty_one_img.mesm_img {
    max-height: 20.25rem;
    float: none;
}

.col-md-6.gallery_image_block{
width: 100%;
}

.title_date_container {
    display: block;    
    min-height: auto;   
}
.main_course{
    text-align: center;
    width: 80%;
     margin: auto;
    margin-top: 1.8rem;  
}
.flex_block{
display: block;
position: relative;
}
.image_left_container{
width: 100%;
position: relative;
min-width:100%;
}
.image_right_container{
width: 100%;
position: relative;
min-width:100%;
}
.eighteen_portrait{
position: relative;
right: 0;
display: block;
margin:auto;
max-height: 30rem;
opacity: 1;
}
.twelve_portrait {
    display: block;
    position: relative;
    margin: auto;
    left: 0;
    margin-bottom: 1.5rem;
}

.eleven_img {
display: block;
max-height: 20rem;
margin:auto;
margin-top: 2rem;
float:none;
}

.problem_resourse {
    font-size: 3rem;
    margin-bottom: 3rem;
}
.seven_hypnose {
margin-bottom: 0;
}
.sixteen_screen {
background-image: none;
padding-top: 0;
padding-bottom: 0;
padding-right: 0;
padding-left: 0;
overflow-y: hidden;
}
.sixteen_screen_half_bg2{
background-image: url('../img/fifteen_bg.jpg');
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center center;
margin-top: 2rem;
width: 100vw;
padding-top: 2rem;
padding-bottom: 2rem;
padding-left: 1rem;
padding-right: 1rem;
margin-right: 0;
margin-left: 0;
margin-bottom: 2rem;
}
.twelve_portrait {
max-height: 20rem;
margin-bottom: 1rem;
position: relative;
margin: auto;
left: 0;
margin-bottom: 0;
}
.twelve_main_text {
font-size: 1.4rem;
margin-bottom: 2rem;
margin-top: 1.5rem;
margin-left: 0rem;
margin-right: 0rem;
}
.twelve_main_text_bigger {
font-size: 1.65rem;
margin-left: 0rem;
}
.thirteen_screen {
background-image: none;
background-color: #000;
padding-bottom: 0;
}
.consult_image{
display: block;
max-width: 100vw;
}
.six_portrait{
position: relative;
margin: auto;
display: block;
max-height: 25rem;
left: 0;
}
.seven_portrait {
position: relative;
max-height: 25rem;
left: 0;
display: inline-block;
margin-left:0;
}
.third_portrait {
display: block!important;
right:0;
position: relative;
margin: auto;
max-height: 24.375rem;
}
.four_portrait{
position: relative;
right: 0;
left: 0;
display: block;
margin: auto;
max-height: 24rem;
}
.main_description {
font-size: 1.2rem;
line-height: 1.2;
max-width: 20rem;
margin-top: 1.8rem;
padding: 0.6rem;
}
hr.main_horizontal {
margin-left:1rem;
}
.important_couch {
padding:1rem;
max-width: 80%;
}
/*.eighteen_portrait{
position: relative;
right: 0;
display: block;
margin:auto;

max-height: 33rem;
opacity: 1;
}*/
.subtitle.magnetizm,
.col-md-6.second_block2>img.programm_icon {
margin-left: 2.8rem;
}
.program_text.last2{
padding-bottom: 3rem;
}
.fourteen_img {
margin-left: 0rem;
}
.date_block {
margin: auto;
margin-bottom: 2rem;
}
.seventeen_title {
line-height: 1.417;
text-align: center;
}
a.gallery.fifteen_img.img-responsive>img {
height: 8rem;
}
.gallery_image_block {
/*min-height: 40.5rem;*/
height: 100%;
}
.main_portrait {
}
.grey_bg {
width: 100%;
}
.main_description {
color: #fff;
}
.ordinary.block_program {
margin-right: 0;
margin:auto;
margin-bottom: 1.5rem;
float: none;
}
.vip.block_program {
margin-right: 0;
margin:auto;
margin-bottom: 1.5rem;
}
.twenty_one_img{
display: block;
margin:auto;
max-width: 22rem;
}
.twenty_one_img.magn_image{
display: block;
margin-left:0;
}
}
@media screen and (max-width: 767px) { 
.sixteen_main_text_bigger {
font-size: 2.5rem;
padding-left: 5%;
width: 87%;
}

.col-md-6.gallery_image_block{
width: 100%;
}

.col-md-12.programm_block.mesm_block {
    background-color: #fff;
    padding: 1.6rem 1.5rem 1.6rem 1.5rem;
    box-sizing: border-box;
}

.col-md-7.second_block2{
padding-left: 1.5rem;
padding-right: 1.5rem;
}

.program_text {
    margin-bottom: 1.3rem;
    line-height: 1.6rem;
}



.col-md-12.programm_block.fas_block {
    background-color: #fff;
    padding: 1.6rem 1.5rem 0 1.5rem;
    box-sizing: border-box;
}

.twenty_one_img.fas_img {
    max-height: 13rem;
     height: 100%;
    float: none;
}


.twenty_one_img.mesm_img {
    max-height: 15.25rem;
    float: none;
}


.seven_main_text.upper_text {
    margin-bottom: 3rem;
}


.flex_block{
display: block;
position: relative;
}
.image_left_container{
width: 100%;
position: relative;
min-width:100%;
}
.image_right_container{
width: 100%;
position: relative;
min-width:100%;
}

.white_line{
margin-left: 1rem;
}

.setups_wonder {
    font-size: 1.3rem;  
    max-width: 95%;
    line-height: 1.8rem;
    margin-bottom: 2rem;
    
}
.off_container{
display: none;
}
.hypnose_text_block {
padding-left: 0;
}
.vk_block_review {
background-size: 95%;
}
.mobile{
display: none;
}
.seventeen_main {
font-size: 1.6rem;
margin-bottom: 2rem;
}
.eighteen_main_text {
font-size: 1.2rem;
margin-bottom: 2rem;
}
.extra_adv {
overflow: hidden;
font-size: 1.2rem;
margin-bottom: 2rem;
}
.thirteen_screen {
padding-top: 2rem;
padding-bottom: 0;
}
.second_quest_block {
padding-top: 1rem;
padding-bottom: 0;
}
.fourteen_main_text.strong_text{
font-weight: bold;
margin-top: 1.1rem;
font-size: 1.4rem;
}
span.tarif,.included{
margin-right: 0.4rem;
font-size: 1.1rem;
font-family: 'PT Sans Narrow', sans-serif;
text-align: left;
line-height: 1.5;
}
.seventeen_title {
font-size: 1.3rem;
min-height: auto;
text-align: center;
margin-bottom: 1.5rem;
}

.title_date_container {
    display: block;    
    min-height: auto;
   
}


.consult_image{
display: block;
max-width: 100vw;
}
.course_icon {
display: inline-block;
width: 1.9rem;
height: 1.9rem;
margin-left: 0.1rem;
float: left; 
}
.course_title {
overflow: hidden;
}
.main_content_block {
width: 75%;
float: right;
}
.seven_main_text, .seven_main_text_bigger {
font-size: 1.3rem;
margin-bottom: 2rem;
}
.six_main_text, .six_main_text_bigger {
font-size: 1.3rem;
margin-bottom: 2rem;
}
/*.third_portrait {
max-height: 24.375rem;
}*/
.fifteen_main_text.longer_text {
margin-right: 0;
}
.vk_block_review.small_block {
width: 95%;
margin:auto;
margin-bottom: 2rem;
}
.eleven_screen {
padding-top: 2rem;
padding-bottom: 2rem;
}
.col-md-12.programm_block.magn_block {
padding-left: 0;
padding-right: 0;
padding-bottom: 0;
}
.thirteen_main_text_bigger {
font-size: 1.7rem;
margin-bottom: 2rem;
}
.thirteen_main_text {
font-size: 1.2rem;
margin-bottom: 2rem;
}
hr.main_horizontal {
margin-left: 0rem;
width: 77%;
float: right;
}
.white_line_container{
display: flex;
}
.white_line{
width: 0.8rem;	
}
.twenty_two_screen {
padding-top: 2rem;
padding-bottom: 2rem;
}
.col-md-12.programm_block {
padding: 2rem;
padding-bottom: 0;    
}
.fifteen_screen {
padding-top: 2rem;
}
.fourteen_screen {
padding-top: 2rem;
}
.eight_screen {
padding-top: 2rem;
}
.five_screen {
padding-top: 2rem;
padding-bottom: 2rem;
}
.third_main_text.last {
margin-bottom: 2rem;
}
.col-md-12.main_12{
flex-wrap: wrap;
}
.col-md-6.main_block_first_part{
position: static;  
width: 100%;
}
.main_portrait {
position: absolute;
display: block;
left: -4rem;
bottom: 0;
padding-top: 0;
height: 80%;
z-index: 2;
}
.six_portrait{
position: relative;
margin: auto;
display: block;
max-height: 25rem;
left: 0;
}
.seven_portrait {
position: relative;
max-height: 25rem;
left: 0;
display: inline-block;
margin-left:0;
}
.third_portrait {
display: block!important;
right:0;
left:0;
position: relative;
margin: auto;
max-height: 17rem;
}
.four_portrait{
position: relative;
right: 0;
left: 0;
top: 0rem;
display: block;
margin: auto;
max-height: 20rem;
}
.reviews_container{
width: 100%;
}
.vk_block_review{
width: 95%;
margin-left: 0;
margin-right: 0;
margin: auto;
box-shadow: 4px 6.928px 14px 0px rgba( 52, 52, 52, 0.5 );
margin-bottom: 1.8rem;
}
.thirteen_screen{
background-image: none;
background-color: #000;
}
.eight_img {
display: block;
max-height: 15rem;
width: 80%;
margin-left: 0;
margin: auto;
}
.twelve_portrait {
max-height: 19rem;
margin: auto;
display: block;
margin-bottom: 1rem;
}
.ten_img {
display: block;
margin-right: 0;
max-height: 15rem;
margin: auto;
margin-bottom: 1rem;
max-width: 20rem;
}
.twenty_three_title {
font-size: 2.1rem;
line-height: 1.2;
padding-bottom: 0;
}
.border_block {
background-image: none;
}
.nineteen_screen_title {
font-size: 2.1rem;
margin-bottom: 1.8rem;
width: 88%;
}
.twenty_four_title {
font-size: 2.5rem;
margin-bottom: 1.8rem;
margin-top: 0;
}
.twenty_four_screen {
padding-top: 2rem;
padding-bottom: 2rem;
}
.twenty_five_text1 {
font-size: 1.5rem;
margin-bottom: 2rem;
margin-top: 1rem;
}
.twenty_five_text2 {
font-size: 1.5rem;
margin-top: 2rem;
margin-bottom: 2rem;
max-width: 90%;
}
.twenty_five_text3 {
font-size: 1.5rem;
margin-bottom: 2rem;
}
.twenty_five_screen {
padding-bottom: 2rem;
padding-top: 2rem;
}
.twenty_five_text4 {
margin-bottom: 2rem;
font-size: 2.5rem;
line-height: 2.8rem;
}
.grey_bg {
width: 100%;
}
.subtitle {
font-size: 2rem;
line-height: 1.2;
}
.twenty_three_title {
font-size: 2.8rem;
line-height: 1.2;
padding-bottom: 2rem;
}
.eighteen_main_text.for_all {
font-size: 2.7rem;
}
.eighteen_main_text.upper_text {
font-size: 2.5rem;
line-height: 1.2;
}
.seventeen_info {
font-size: 1.5rem;
color: rgb( 25, 25, 25 );
margin-bottom: 2.9rem;
}
.main_description {
position: relative;
right: 0;
font-size: 1.3rem;
color: #fff;
line-height: 1.364;
margin:auto;
margin-top: 1.5rem;
}
.main_slogan {
font-size: 1.3rem;
line-height: 1.4;
}
.second_screen {
padding-top: 2rem;
padding-bottom: 2rem;
}
.second_main_text_bigger {
font-size: 1.8rem;
margin-bottom: 1.5rem;
margin-top: 0;
}
.second_portrait {
display: none;
}
.second_portrait.question {
display: block;
margin: auto;
margin-top: 1rem;
height: 5rem;
}
/*.third_portrait {
display: block!important;
left:0;
position: relative;
margin: auto;
}*/
.third_main_text_bigger {
font-size: 2rem;
margin-bottom: 1rem;
}
h2.third_stop {
text-align: center;
font-size: 3rem;
margin-bottom: 2rem;
line-height: 1;
margin-top: 3rem;
}

.second_main_text.first2 {
    margin-top: 2.5rem;
}


.second_main_text.last2 {
    margin-bottom: 2rem;
}

.five_clients_leave {
font-size: 1.3rem;
margin-top: 2rem;
margin-bottom: 2rem;
width: 90%;
}
.five_clients_result {
font-size: 1.6rem;
margin-bottom: 2rem;
width: 90%;
}
a.gallery.fifteen_img.img-responsive>img{
width: 90%;
height: 5rem;
margin:auto;
display: block;
margin-bottom: 1rem;
}
.gallery_image_block {
/*min-height: 27.5rem;*/
padding-left: 0;
}
.container-fluid.seven_screen{
padding-left: 0;
padding-right: 0;
}
.seven_portrait {
position: relative;
max-height: 22rem;
left: 0;
display: inline-block;
margin-left:0;
}
.vk_block_review {
padding-bottom: 2rem;
background-size: 90%;
}
.problem_resourse {
font-size: 3rem;
margin-bottom: 3rem;
}
.nine_text {
font-size: 1.6rem;
}
.ten_main_title {
font-size: 2.5rem;
color: rgb( 25, 25, 25 );
line-height: 1.1;
margin-bottom: 1.5rem;
}
.ten_screen {
padding-top: 2rem;
padding-bottom: 2rem;
}
.eleven_title {
font-size: 2.5rem;
margin-bottom: 1.5rem;
}
.eleven_img {
display: block!important;
max-height: 16rem;
margin:auto;
margin-top: 2rem;
float:none;
}
.sixteen_main_text_extra {
font-size: 5rem;
padding-left: 0;
line-height: 5.5rem;
}
.sixteen_main_text_extra.first_point{
margin-top: 0;
}

.sixteen_main_text_smaller {
font-size: 2.5rem;
margin-left: 0;
padding-left: 0rem;
line-height: 4rem;
}

.sixteen_main_text_smaller.magnet_train {
    font-size: 2.5rem;
    line-height: 4rem;
}

.sixteen_main_text_extra.for_days {
    font-size: 2.3rem;
    line-height: 3rem;

}

.sixteen_main_text_extra.two_days {
    font-size: 2.3rem;
     line-height: 3rem;
}


.seventeen_no {
    font-size: 1.9rem;
    line-height: 3rem;
    margin-bottom: 2rem;
}


.date_block {
font-family: "Montserrat ExtraBold";
border: 2px solid #bb2b3d;
font-size: 6rem;
text-align: center;
height: 12.8125rem;
width: 90%;
display: block;
margin:auto;
margin-bottom: 1rem;
}
.date_block span {
font-size: 3rem;
}
.seventeen_speciality {
font-size: 4rem;
}
.setups_text {
font-size: 3.5rem;
line-height: 1.1;
margin-bottom: 3rem;
}
.setups_text.red {
font-size: 5rem;
font-family: 'PT Sans Narrow', sans-serif;
color: rgb( 207, 64, 64 );
line-height: 1.1;
margin-bottom: 2rem;
}
.setups_gives {
font-size: 1.8rem;
width: 95%;
margin-bottom: 2rem;
}
.vk_review_title span {
display: block;
}
.vk_review {
line-height: 1.5;
margin-bottom: 1rem;
}
.social_posts {
max-width: 20rem;
height: auto;
width: 90%;
margin: auto;
display: block;
margin-bottom: 1rem;
margin-top: 1rem;
}
.button_send {
width: 18.75rem;
height: 3.8125rem;
line-height: 3.8125rem;
font-size: 1.3rem;
}
.write_me {
margin-right: 1rem;
margin-left: 1rem;
font-size: 1.2rem;
line-height: 1.3rem;
}
.six_couch {
font-size: 3rem;
line-height: 1;
margin-top: 3rem;
margin-bottom: 1.9375rem;
}
.nine_screen {
padding-top: 3rem;
padding-bottom: 3rem;
}
.seven_hypnose {
font-size: 3rem;
width: 100%;
padding-top: 0;
margin-bottom: 0;
}
.four_screen {
padding-top: 2rem;
}
.four_main_text.bigger {
font-size: 2.5rem;
line-height: 1.085;
margin-bottom: 1.3rem;
}
.four_main_text.border {
padding: 0.7rem;
font-size: 1.5rem;
line-height: 1.5;
margin-bottom: 2rem;
}
.sixteen_screen {
background-image: none;
padding-top: 0;
padding-bottom: 0;
overflow-y: hidden;
}
.container-fluid.sixteen_screen{
padding-left: 0;
padding-right: 0;
}
.fourteen_img {
display: none;
}
.eighteen_portrait{
position: relative;
right: 0;
display: block;
margin:auto;
max-height: 30rem;
opacity: 1;
}
.sixteen_screen_half_bg2{
background-image: url('../img/fifteen_bg.jpg');
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center center;
margin-top: 2rem;
width: 100vw;
padding-top: 2rem;
padding-bottom: 2rem;
padding-left: 1rem;
padding-right: 1rem;
margin-right: 0;
margin-left: 0;
}
.container-fluid.sixteen_screen>.container {
width: 100vw;
} 
.course_title {
font-size: 1.3rem;
line-height: 1.4rem;
}
.twenty_one_title {
font-size: 2.8rem;
line-height: 1.1;
margin-top: 0;
margin-bottom: 2rem;
}
.twenty_one_mesm,
.twenty_one_fas,
.twenty_one_magn
{
min-height: auto;
padding-top: 2rem;
padding-bottom: 2rem;
}
.main_course {
font-size: 1.4rem;
font-family: 'PT Sans Narrow', sans-serif;
color: rgb(254, 254, 254);
line-height: 1.1;
margin-top: 1.5rem;
text-align: center;
}
.video_block{
width: 95%;
}
.seven_main_text.first{
padding-top: 2rem;
}
.buttons_icon{
height: 1.2rem;
}
.buttons_icon.instagram{
height: 1.7rem;
}
.second_main_text {
font-size: 1.3rem;
margin-bottom: 1.9rem;
}
.second_quest_block {
padding-top: 1.5rem;
padding-bottom: 1rem;
}
.eight_main_text.bolder {
font-size: 1.7rem;
}
.eight_main_text {
font-size: 1.5rem;
margin-bottom: 1.8rem;
}
.eight_main_text.bigger {
font-size: 1.6rem;
margin-bottom: 3rem;
}
.advant_icon {
height: 2rem;
width: 2rem;
margin-right: 0.5rem;
}

.col-md-6.second_block2>img.programm_icon {
margin-left: 2rem;
}
.subtitle.magnetizm{
margin-left: 0;
}
.program_text.last2{
padding-bottom: 3rem;
}
.twelve_main_text_bigger {
font-size: 1.6rem;
}
.sixteen_main_text {
padding-right: 0rem;
width: 87%;
margin: auto;
margin-bottom: 1.3rem;
}
.six_portrait.img-responsive{
position: relative;
margin: auto;
display: block;
max-height: 24rem;
max-width: 13.375rem;
right: 0;
}
.six_main_text.last_text {
margin-bottom: 2rem;
}
.twelve_main_text {
font-size: 1.2rem;
margin-bottom: 2rem;
margin-top: 0;
margin-left: 0rem;
margin-right: 0;
}
.twelve_main_text_bigger {
font-size: 1.25rem;
margin-bottom: 2rem;
margin-left: 0rem;
}
.twenty_screen {
padding-top: 2rem;
padding-bottom: 2rem;
}
.twelve_portrait {
display: block;
position: relative;
margin: auto;
left: 0;
margin-bottom: 1.5rem;
}
.fourteen_main_text.list.last {
margin-bottom: 2rem;
}
}
@media screen and (max-width: 767px) and (orientation: portrait) {
.course_icon {
width: 1.5rem;
height: 1.5rem;
margin-right: 0.5rem;
margin-left: 2rem;
}
.third_main_text_bigger {
    font-size: 1.8rem;   
}
.four_portrait{
max-height: 16rem;
}

.twenty_five_text2 {
max-width: 100%;
}
.col-md-6.col-xs-12.fourteen_image_contaner{
display: none;
}
.important_couch {
padding: 0.8rem;
max-width: 100%;
}
.course_title {
font-size: 1rem;
line-height: 1.2rem;
}
.problem_resourse {
font-size: 2.1rem;
margin-bottom: 2.4rem;
}
.setups_miss {
font-size: 1.8rem;
margin-bottom: 2rem;
}
.block_program {
display: block;
margin: auto;
margin-bottom: 1.5rem;
}
.setups_because {
width: 90%;
}
.setups_text.red {
font-size: 4rem;
}
.date_block {
font-size: 5rem;
height: 10.8125rem;
}
.vk_message.button_send{
margin-bottom: 2rem;
margin-top: 1.5rem;
}
.main_screen_button {
width: 15rem;
height: 3rem;
line-height: 3rem;
margin:auto;
margin-bottom: 2rem;
margin-top: 2rem;
font-size: 1.3rem;
}
.main_portrait{
left: -5.2rem;
height: 65%;
opacity: 0.8;
}
.bottom_image_container {
height: 100%;
display: block;
}
.twenty_one_img{
display: block;
max-width: 90%;
margin:auto;
}
.block_program {
display: block;
margin: auto;
margin-bottom: 2rem;
width: 100%;
}
.ordinary.block_program{
margin-right: 0;
float:none;
}
.setups_because1 {
width: 90%;
}
.programm_block.magn_block{
display: flex;
flex-wrap: wrap;
}
.programm_block.magn_block>.first_block1{
order: 2;
}
.programm_block.magn_block>.second_block2{
order: 1;
}
.magn_image{
margin-right: 0;
margin-left: 0;
}
/*.third_portrait {
max-height: 16rem;
}*/
.gallery_image_block {
/*min-height: 34rem;*/
}
}
@media screen and (max-width: 767px) and (orientation: landscape) {
.setups_text.red {
font-size: 6rem;
}

.twenty_three_title {
    font-size: 2.5rem;
    line-height: 1.2;
    padding-bottom: 1.5rem;
}

.twenty_one_img.fas_img {
    max-height: 19.0625rem;
 }

.twenty_one_img.magn_image {
    max-width: 60%;
}




.main_content_block {
width: 60%;
float: right;
}
.main_slogan {
    font-size: 1.5rem;
    line-height: 1.7;
}
.second_main_text,
.seven_main_text, 
.seven_main_text_bigger {
width: 95%;
}
.eight_img {
display: block;
width: 60%;
}
.consult_image {
display: block;
max-width: 22rem;
margin:auto;
}
.fourteen_image_contaner {
display: none;
}
.twenty_one_img {
display: block;
width: 80%;
max-width: 23rem;
margin: auto;
}
.vk_block_review.small_block {
margin-left: 0;
}
.important_couch {
padding: 1.3rem;
max-width: 80%;
margin: auto;
margin-bottom: 2rem;
}
.twenty_one_img.magn_image{
margin-left: 0;
}
hr.main_horizontal{
margin-top: 1.5em;
width: 66vw;
margin-right: 0;
}
.quests_texts{
padding-left: 1rem;
}
.ordinary.block_program{
float: none;
margin: auto;
margin-bottom: 2rem;
}
.vip.block_program {
margin: auto;
}
.social_posts {
max-width: 26rem;
width: 90%;
}
a.gallery.fifteen_img.img-responsive>img {
width: 70%;
height: 6rem;
}
.gallery_image_block {
/*min-height: 36rem;*/
}
.vk_block_review {
background-size: 83%;
}
.seventeen_title {
text-align: center;
}
.main_screen_button {
margin:auto;
margin-bottom: 2rem;
margin-top: 2rem;
}
.main_course {
width: 80%;
float:right;
margin-bottom: 0.4rem;
}
.main_portrait {
left: -4rem;
bottom: 0;
}
@media screen and (max-width: 321px) {
html{
overflow-x: visible;
}
/*.third_portrait {
max-height: 10.375rem;    
}*/
}
