@media screen and (max-width: 1024px) and (orientation: portrait) { 

}




@media screen and (max-width: 767px) { 
a.gallery.fifteen_img.img-responsive>img{
max-width: 7rem;
width: 90%;
margin:auto;
display: block;
margin-bottom: 1rem;
}
}